agent:
  name: ProphetForecastingAgent
  description: 'agent to perform time series forecasting using the Prophet model from darts'


templates:

- template_name: InputTemplate
  class_name: InputTemplate
  attributes: {}

- template_name: TimeSeriesFromDataframeLoader-1
  class_name: TimeSeriesFromDataframeLoader
  template_input: InputTemplate
  attributes:
    apply_to: ["content"]
    from_pandas_kwargs:
      value_cols: "volume"
      time_col: "Date"
      fill_missing_dates: True
      freq: "D"

- template_name: TimeSeriesFromDataframeLoader-2
  class_name: TimeSeriesFromDataframeLoader
  template_input: TimeSeriesFromDataframeLoader-1
  attributes:
    apply_to: ["past_covariates"]
    from_pandas_kwargs:
      time_col: "Date"
      fill_missing_dates: True
      freq: "D"

- template_name: TimeSeriesFromDataframeLoader-3
  class_name: TimeSeriesFromDataframeLoader
  template_input: TimeSeriesFromDataframeLoader-2
  attributes:
    apply_to: ["future_covariates"]
    from_pandas_kwargs:
      time_col: "Date"
      fill_missing_dates: True
      freq: "D"

- template_name: MissingValuesFiller
  class_name: MissingValuesFillerWrapper
  template_input: TimeSeriesFromDataframeLoader-3
  attributes:
    method: "transform"
    missingvaluesfiller_init: {}
    apply_to: ["content", "past_covariates", "future_covariates"]
    transform_kwargs:
      method: "linear"

- template_name: TimeSeries
  class_name: ProphetWrapper
  template_input: MissingValuesFiller
  attributes:
    forecast_horizon: 100
    prophet_init: {}